{% trans_default_domain 'FOSUserBundle' %}
<div class="well col-md-offset-4" >
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div style="padding-left:200px">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
<div class="col-md-offset-4" >
      <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-menu-left"></i>
      Retour
    </a>
</div>